<div class="box">
  <form (ngSubmit)="onSubmit()" #checkoutForm="ngForm">
    <div class="input-group">
      <label for="firstName">Imię</label>
      <input
        id="firstName"
        placeholder="Imię"
        nz-input
        [(ngModel)]="formUser.firstName"
        name="firstName"
        required
        #firstName="ngModel"
      />
      <div class="error" *ngIf="firstName.invalid && firstName.touched">
        Imię jest wymagane.
      </div>
    </div>

    <div class="input-group">
      <label for="lastName">Nazwisko</label>
      <input
        id="lastName"
        placeholder="Nazwisko"
        nz-input
        [(ngModel)]="formUser.lastName"
        name="lastName"
        required
        #lastName="ngModel"
      />
      <div class="error" *ngIf="lastName.invalid && lastName.touched">
        Nazwisko jest wymagane.
      </div>
    </div>

    <div class="input-group">
      <label for="email">Email</label>
      <input
        id="email"
        placeholder="Email"
        nz-input
        [(ngModel)]="formUser.email"
        name="email"
        required
        email
        (input)="onEmailInput($event)"
        [nzAutocomplete]="auto"
        #email="ngModel"
      />

      <nz-autocomplete #auto>
        <nz-auto-option *ngFor="let option of options" [nzValue]="option">
          {{ option }}
        </nz-auto-option>
      </nz-autocomplete>
      <div class="error" *ngIf="emailExists">Email jest już w użyciu!</div>
    </div>

    <div class="input-group">
      <label for="phone">Numer Telefonu</label>
      <input
        id="phone"
        placeholder="Numer Telefonu"
        nz-input
        [(ngModel)]="formUser.phone"
        name="phone"
        required
        pattern="^[0-9]{9}$"
        #phone="ngModel"
      />
      <div class="error" *ngIf="phone.invalid && phone.touched">
        Podaj poprawny numer telefonu (9 cyfr).
      </div>
    </div>
    <div class="input-group" *ngIf="userAddresses.length > 0">
      <label for="addressSelect">Wybierz adres</label>
      <select id="addressSelect" (change)="selectAddress($event)">
        <option *ngFor="let address of userAddresses" [value]="address">
          {{ address.street }}, {{ address.city }}
        </option>
      </select>
    </div>

    <div class="input-group">
      <label for="street">Ulica</label>
      <input
        id="street"
        placeholder="Ulica"
        nz-input
        [(ngModel)]="formUser.street"
        name="street"
        required
        #street="ngModel"
      />
      <div class="error" *ngIf="street.invalid && street.touched">
        Ulica jest wymagana.
      </div>
    </div>

    <div class="input-group">
      <label for="city">Miasto</label>
      <input
        id="city"
        placeholder="Miasto"
        nz-input
        [(ngModel)]="formUser.city"
        name="city"
        required
        #city="ngModel"
      />
      <div class="error" *ngIf="city.invalid && city.touched">
        Miasto jest wymagane.
      </div>
    </div>

    <div class="input-group">
      <label for="postalCode">Kod pocztowy</label>
      <input
        id="postalCode"
        placeholder="Kod pocztowy"
        nz-input
        [(ngModel)]="formUser.postalCode"
        name="postalCode"
        required
        pattern="^[0-9]{2}-[0-9]{3}$"
        #postalCode="ngModel"
      />
      <div class="error" *ngIf="postalCode.invalid && postalCode.touched">
        Kod pocztowy w formacie 00-000.
      </div>
    </div>

    <div class="input-group">
      <label for="country">Państwo</label>
      <input
        id="country"
        placeholder="Państwo"
        nz-input
        [(ngModel)]="formUser.country"
        name="country"
        required
        #country="ngModel"
      />
      <div class="error" *ngIf="country.invalid && country.touched">
        Państwo jest wymagane.
      </div>
    </div>

    <div class="checkbox">
      <label
        nz-checkbox
        [(ngModel)]="formUser.agreeToTerms"
        name="agreeToTerms"
        required
      >
        Akceptuję regulamin
      </label>
      <div
        class="error"
        *ngIf="!formUser.agreeToTerms && checkoutForm.submitted"
      >
        Musisz zaakceptować regulamin.
      </div>
    </div>

    <div class="input-group">
      <button
        nz-button
        [disabled]="checkoutForm.invalid"
        type="submit"
        class="submit-btn"
      >
        Złóż zamówienie
      </button>
    </div>
  </form>
</div>
